<!DOCTYPE html>
<html lang="ja">
{% load static %}
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/reset.css' %}">
  <link rel="stylesheet" href="{% static 'css/base.css' %}">
  <link rel="icon" type="image/ico" href="{% static 'images/PD.ico' %}">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <title>WRCS</title>
</head>
<body>
  <header>
    <div class="header_line">
      <div class="header_icon"><a href="/"><img src="{% static 'images/PD.png' %}" alt="ホームページアイコン" class="icon" width="77" height="77"></a></div>
      <div class="header_links">
          <div class="col-1"><a class="header_link underline" href="{% url 'index' %}">HOME</a></div>
        {% if user.is_authenticated %}
          <div class="col-1"><a class="header_link underline" href="{% url 'test_list' %}">テストリスト</a></div>
          <div class="col-1"><a class="header_link underline" href="{% url 'water_temperature_list' %}">水温リスト</a></div>
          <div class="col-1"><a class="header_link underline" href="{% url 'water_high_list' %}">水位リスト</a></div>
          <div class="col-1"><a class="header_link underline" href="{% url 'riskmap_list' %}">危険度マップ</a></div>
        {% endif %}
      </div>
    </div>
    <div class="hamburger-demo-menubox">
      <input id="hamburger-demo1" type="checkbox" class="input-hidden">
      <label for="hamburger-demo1" class="hamburger-demo-switch hamburger-demo-switch1">
        <span class="hamburger-switch-line1"></span>
      </label>
      <div class="hamburger-demo-menuwrap">
        <ul class="hamburger-demo-menulist">
            <li><a class="header_link" href="{% url 'index' %}">HOME</a></li>
          {% if user.is_authenticated %}
            <li><a class="header_link" href="{% url 'test_list' %}">テストリスト</a></li>
            <li><a class="header_link" href="{% url 'water_temperature_list' %}">水温リスト</a></li>
            <li><a class="header_link" href="{% url 'water_high_list' %}">水位リスト</a></li>
            <li><a class="header_link" href="{% url 'riskmap_list' %}">危険度マップ</a></li>
            <li><a class="header_link" href="/admin">管理者画面</a></li>
            <li><a class="header_link" href="{% url 'survey' %}">レイアウトアンケート</a></li>
          {% else %}
          <li><a class="header_link" href="/admin">ログイン</a></li>
          {% endif %}
        </ul>
      </div>
      <div class="hamburger-demo-cover"></div>
    </div>
  </header>

  <main>
      <div class="space"></div>
      {% block content %}
      {% endblock %}
      <div class="space"></div>
  </main>

  <footer>
    <div class="label"><img src="{% static 'images/PD.png' %}" alt="フッターラベル" width="200"></div>
  </footer>
  <div class="footer_text">© 2022 PD実践</div>
</body>
</html>