{% extends 'wrcsystem/base.html' %}
{% load static %}

{% block content %}
  <link rel="stylesheet" href="{% static 'css/index.css' %}">
  <script type="text/javascript" src="{% static 'js/timer.js' %}"></script>
  <div class="main">
    <div class="canvas">
      <div class="content">
        <div class="wellcome">Water Resource Control System</div>
        <div class="time">
          <div class="time_title"><h2>現在時刻</h2></div>
          <div><h2><p id="RealtimeClockArea"></p></h2></div>
        </div>
        <div class="log_content">
          {% if user.is_authenticated %}
            <div class="log">
              <div class="log_message">現在のログインユーザー名</div>
              <div class="username">{{ user.get_username }}</div>
            </div>
            <div class="sign_out"><a href="{% url 'Logout' %}"><button type="button" class="btn btn-outline-primary">ログアウト</button></a></div><br>
          {% else %}
            <div class="log">
              <div class="buttons"><a href="{% url 'survey' %}"><button type="button" class="btn btn-outline-success btn-lg">レイアウトデザインのアンケート</button></a></div><br><br>
              <!--<div class="gest">現在未ログイン</div>
              <div class="announce">ログインまたはユーザー登録をしてください</div>
              <div class="buttons">
                <div class="sign_up"><a href="{% url 'register' %}"><button type="button" class="btn btn-outline-primary">新規登録</button></a></div>
                <div class="sign_in"><a href="{% url 'Login' %}"><button type="button" class="btn btn-outline-primary">ログイン</button></a></div>
              </div>-->
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}