{% extends 'wrcsystem/base.html' %}
{% load static %}

{% block content %}
  <link rel="stylesheet" href="{% static 'css/index.css' %}">
  <script type="text/javascript" src="{% static 'js/timer.js' %}"></script>
  <div class="main">
    <div class="canvas">
      <div class="content">
        <div class="wellcome">Water Resource Control System</div>
        <div class="time">
          <h2 id="RealtimeClockArea"></h2>
        </div>
        <div class="log_content">
          {% if user.is_authenticated %}
            <div class="log">
              <div class="log_message username">現在のログインユーザー名：{{ user.get_username }}</div>
            </div>
            <div class="buttons row row-cols">
              <div class="col"></div>
              <a class="col btn btn-outline-primary btn-lg url" href="{% url 'data_all' %}">全データの一覧表示</a>
              <div class="col"></div>
            </div>
            <div class="button_label">機能別一覧表示</div>
            <div class="row row-cols-4">
              <div class="col-space"></div>
              <a class="col-5 btn btn-outline-primary btn-lg url" href="{% url 'data_water_level' %}">水位データ</a>
              <a class="col-2 btn btn-outline-primary btn-lg url" href="{% url 'data_out' %}">散水状況</a>
              <a class="col-2 btn btn-outline-primary btn-lg url" href="{% url 'data_in' %}">吸水状況</a>
              <div class="col-space"></div>
              <div class="col-space"></div>
              <input class="col-5 btn btn-outline-secondary btn-lg" type="button" value="戻る" onClick="javascript:history.go(-1);">
              <a class="col-2 btn btn-outline-primary btn-lg url" href="{% url 'data_water_temp' %}">水温データ</a>
              <a class="col-2 btn btn-outline-primary btn-lg url" href="{% url 'data_ground' %}">地盤データ</a>
              <div class="col-space"></div>
            </div>
          </div>
            {% block listcontent %}
            {% endblock %}
          {% else %}
            <div class="log">
              <div class="gest">現在未ログイン</div>
              <div class="announce">ログインまたはユーザー登録をしてください</div>
              <div class="buttons">
                <div class="sign_up"><a href="{% url 'register' %}"><button type="button" class="btn btn-outline-primary">新規登録</button></a></div>
                <div class="sign_in"><a href="{% url 'Login' %}"><button type="button" class="btn btn-outline-primary">ログイン</button></a></div>
              </div><br>
            </div>
          {% endif %}
      </div>
    </div>
  </div>
{% endblock %}