<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>水資源調整システム</title>
</head>
<body>
  <header>
    ヘッダー
  </header>
  <main>
    {% for data in datas %}
      <h3>---------------</h3>
      <input type="checkbox" name="delete" form="delete" value={{data.id}}>
        {{ data.title }}:{{ data.text }}:{{ data.created_date }}
      </input>
    {% endfor %}

    <form action="/test_list" method="POST" id="post">
      {% csrf_token %}<br>
      <input type="textbox" name="title" id="title" placeholder="title">
      <input type="textbox" name="text" id="text" placeholder="text">
      <input type="submit" value="追加">
    </form>
    <form action="/delete" method="POST" id="delete">
      {% csrf_token %}
      <input type="submit" value="削除">
    </form>
    <a href="https://test811.pythonanywhere.com/test_list">更新</a>
  </main>
  <footer>
    フッター
  </footer>
</body>
</html>