{% extends 'layout/base.html' %}
{% load static %}

{% block content %}
  <link rel="stylesheet" href="{% static 'css/index.css' %}">
  <link rel="stylesheet" href="{% static 'css/layout/sample.css' %}">
  <div class="main">
    <div class="title"><h1 style="text-align:center">サンプルページ3</h1></div>
    <div class="canvas">
      {% block sample3content %}
        <div class="row row-cols-5">
          {% for data in datas %}
            <a class="col btn btn-outline-primary btn-lg url" href="{% url 'sample3_detail' id=data.RaspberryPi_ID %}">貯水槽{{ data.RaspberryPi_ID}}</a>
          {% endfor %}
          <a class="col btn btn-outline-secondary btn-lg url" href="{% url 'home' %}">戻る</a>
        </div>
      {% endblock %}
    </div>
  </div>
{% endblock %}